<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav class="navbar">
        <h1 class="navbar--brand">Formulario</h1>
    </nav>

    <main class="main">
        <section class="register">
            <form id="register" class="form">
                <label for="name" class="form__field">
                    <span class="form__field--label">Nombre</span>
                    <input
                        type="text"
                        name="name"
                        id="name"
                        required
                        class="form__field--input">
                </label>

                <label for="alias" class="form__field">
                    <span class="form__field--label">Alias</span>
                    <input
                        type="text"
                        name="alias"
                        id="alias"
                        required
                        class="form__field--input">
                </label>

                <label for="password" class="form__field">
                    <span class="form__field--label">Contraseña</span>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        required
                        class="form__field--input">
                </label>

                <label for="birth" class="form__field">
                    <span class="form__field--label">Fecha de cumpleaños</span>
                    <input
                        type="date"
                        name="birth"
                        id="birth"
                        max="2021-12-01"
                        required
                        class="form__field--input">
                </label>

                <label for="email" class="form__field">
                    <span class="form__field--label">Correo electrónico</span>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        required
                        class="form__field--input">
                </label>

                <label for="phone" class="form__field">
                    <span class="form__field--label">Celular</span>
                    <input
                        type="tel"
                        name="phone"
                        id="phone"
                        required
                        class="form__field--input">
                </label>

                <label for="potential" class="form__field">
                    <span class="form__field--label">Potencial</span>
                    <input
                        type="range"
                        value="3"
                        name="potential"
                        id="potential"
                        min="0"
                        max="10"
                        class="form__potential--input">
                </label>

                <fieldset class="form__container">
                    <legend class="form__container--legend">Sexo</legend>

                    <label for="masculino" class="form__field--container">
                        <input
                            type="radio"
                            value="masculino"
                            name="sex"
                            id="masculino"
                            class="form__field--input">
                        <span class="form__field--label">Masculino</span>
                    </label>

                    <label for="femenino" class="form__field--container">
                        <input
                            type="radio"
                            value="femenino"
                            name="sex"
                            id="femenino"
                            class="form__sex--input">
                        <span class="form__field--label">Femenino</span>
                    </label>
                </fieldset>

                <fieldset class="form__container">
                    <legend class="form__container--legend">Color</legend>

                    <label for="fore" class="form__field--container">
                        <span class="form__field--label">Letra</span>
                        <input
                            type="color"
                            name="fore"
                            id="fore"
                            class="form__container--input">
                    </label>

                    <label for="back" class="form__field--container">
                        <span class="form__field--label">Fondo</span>
                        <input
                            type="color"
                            value="#ffffff"
                            name="back"
                            id="back"
                            class="form__color--input">
                    </label>
                </fieldset>

                <input
                    type="submit"
                    value="Registrarme"
                    id="submit"
                    aria-label="Control del formulario"
                    class="form--button">
                <input
                    type="reset"
                    value="Limpiar"
                    id="reset"
                    aria-label="Limpiar formulario"
                    class="form--button">
            </form>
        </section>

        <section class="login">
            <form action="" id="login" class="form">
                <label for="alias-login" class="form__field">
                    <span class="form__field--label">Alias</span>
                    <input
                        type="text"
                        name="alias"
                        id="alias-login"
                        required
                        class="form__field--input">
                </label>

                <label for="password.login" class="form__field">
                    <span class="form__field--label">Contraseña</span>
                    <input
                        type="password"
                        name="password"
                        id="password-login"
                        required
                        class="form__field--input">
                </label>

                <input
                    type="submit"
                    value="Iniciar Sesión"
                    id="submit-login"
                    aria-label="Control del formulario"
                    class="form--button">
            </form>
        </section>

        <section class="profile">
            <div class="container hidden">
                <h2 class="greeting">
                    Hola,
                    <span class="greeting__name"></span>
                </h2>
                <span class="potential">
                    Tu potencial es de
                    <span class="potential__number"></span>
                </span>
            </div>
        </section>
    </main>

    <script type="module" src="main.js"></script>
</body>
</html>